<h2>New Example</h2>

<div id="new_example">
 <form action="/examples" method="post" >
    <%= partial :'/examples/_form' %>    
    <fieldset>
      <legend>Save changes</legend>
      <input type="submit" value="Create">
    </fieldset>
  </form>
</div>